.copyright:after{
    content: '\270E';
    color:red;
    font-size:20px }
/* Глобальное */
body {
    font-family: 'Raleway';

    /* Простенькая анимация  */
        opacity: 0;
        animation: ani 2.5s forwards
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.body{
    max-width: 100%;
}
/* Простенькая анимация  */
header {
    opacity: 0;
    animation: ani 2.5s forwards;
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
.btn {
    border-radius: 100px;
    padding: 13px 40px;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.08);
}

.btn-transparent:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.05);
    border-color: #ddd;
}

.btn-danger {
    background-color: #d62414;
}

.btn-danger:hover {
    background-color: #b61d10;
}

.btn-black {
    background-color: #151515;
}

.btn-black:hover {
    color: #ddd;
    background-color: #1c1c1c;
}

.row {
    margin-right: 0;
}

/* хедер */
header {
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    text-align: center;
    background-image: url('./../img/moscow2.jpg');
    background-position: top;
    background-size: cover;
    padding: 30px 0;
}

header>h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 768px) {
    header>h1 {
        margin-top: 160px;
        font-size: 50px;
    }
}

header>p {
    font-size: 13px;
    color: rgba(240,240,240,0.7);
    margin-bottom: 50px;
    letter-spacing: 2px;
    line-height: 24px;
}

@media (min-width: 768px) {
    header>p {
        margin-bottom: 50px;
        font-size: 16px;
    }
}

header .links {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    header .links {
        margin-bottom: 160px;
    }
}

header .logo {
    display: block;
    margin: 0 auto;
}

header .btn {
    margin-right: 0;
}

@media (min-width: 768px) {
    header .btn {
        margin-right: 20px;
    }
}

/* навбар */
.navbar-default {
    background-color: transparent;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fefefe;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #dedede;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
    background-color: rgba(255,255,255,0.10);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d6d6d6;
    margin: 3px auto;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255,255,255,0.15);
}

/* features */
#features {
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}

#features .feature-list {
    text-align: left;
}

#features h1 {
    line-height: 30px;
    margin-bottom: 50px;
    max-width: 100%;
    font-size: 22px;
}

@media (min-width: 768px) {
    h1 {
        line-height: 45px;
        font-size: 32px;
    }
}


#features h1 span {
    color: #d62414;
}

#features h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 0;
}

#features .feature-img {
    color: #d62414;
    border: 2px solid #d62414;
    border-radius: 100%;
    font-size: 38px;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

#features .feature-list {
    text-align: center;
}

@media (min-width: 992px) {
    #features .feature-img {
        display: inline;
        margin: none;
    }

    #features .feature-list {
        text-align: left;
    }
}

/* контент */
#about {
    text-align: center;
    margin-top: 50px;
    background-image: url('./../img/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
    text-shadow: 0 0 10px #000;
}

#about h1 {
    color: #fff;
    font-size: 21px;
}

@media (min-width: 768px) {
    #about h1 {
        font-size: 30px;
    }
}

#about p {
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
    line-height: 20px;
    padding: 10px 0;
    font-size: 13px;
}

@media (min-width: 768px) {
    #about p {
        font-size: 14px;
        line-height: 30px;
    }
}

#about .btn {
    margin-right: 0;
}

@media (min-width: 768px) {
    #about .btn {
        margin-right: 20px;
    }
}

/* фотки */
#servers {
    margin-top: 50px;
    text-align: center;
}

#servers h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    #servers h1 {
        font-size: 32px;
    }
}

#servers h1 span {
    color: #d62414;
}

#servers h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #252525;
}

/* форма */
#donate {
    margin-top: 50px;
    background-image: url('./../img/donate-banner.jpg');
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

#donate .btn {
        margin-bottom: 20px;
    }

@media (min-width: 768px) {
    #donate {
        text-align: left;
    }

    #donate .btn {
        margin-bottom: 5px;
    }
}

#donate h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
}

#donate p {
    color: #b1b1b1;
    margin-bottom: 30px;
}

#donate img {
    height: 400px;
}

/* футер(подвал) */
footer {
    padding: 20px;
}

footer img {
    padding: 30px;
    opacity: 0.5;
}

footer h2 {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

footer h2 span {
    color: #d62414;
}

footer .fa {
    border: 1px solid red;
    padding: 12px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 5px;
    color: red;
    padding-left: 8px;
    text-align: center;
}

footer .fa:hover {
    background-color: #f3bdc1;
}

footer .social-links {
    float: right;
    margin-top: 23px;
}



footer .links a:hover {
    text-decoration: none;
    color: #b5b5b5;
}

footer .spacer {
    padding-bottom: 1px;
    background-color: #cdcdcd;
    margin: 10px 0;
}

@media (min-width: 768px) {
    footer h2 {
        text-align: left;
    }
}



/* Дизайн ссылок на соц сети */

.social {display: inline-block;}
.social a {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 10px 10px 0;
  text-align: center;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.social a:hover {
  border-color: #888;
  opacity: .8;
}
.social svg {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}
.discord a {background: #7289da}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}





               /*галерея  */

              



.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}
body {
   
	background : url('/img/bgp.jpg');
}


.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }



/* тема слайдеров  */
.flexslider {
	position: relative;
	zoom: 1;
	padding: 10px;
	background: #ffffff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}


.flex-container {
	min-width: 150px;
	max-width: 960px;
}

.flexslider .slides { zoom: 1; }



/* декорации */
.flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -17px 0 0 0;
	width: 35px;
	height: 35px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;

	background-color: #82d344;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
	background-image: -webkit-linear-gradient(top, #82d344, #51af34);
	background-image: -moz-linear-gradient(top, #82d344, #51af34);
	background-image: -o-linear-gradient(top, #82d344, #51af34);
	background-image: linear-gradient(to bottom, #82d344, #51af34);
}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
	background: url(../img/arrows.png) no-repeat;
}

.flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 35px;
}

.flex-direction-nav .flex-next {
	right: -5px;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-prev {
	left: -5px;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
	right: 0;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #31611e;
}

.flex-direction-nav .flex-prev:after {
	left: 0;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #31611e;
}




.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	margin: 0 0 0 -10px;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	background-color: #b6b6b6 \9;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
	-moz-box-shadow: inset 0 0 0 2px #b6b6b6;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
	background-color: #82d344;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
	background-image: -webkit-linear-gradient(top, #82d344, #51af34);
	background-image: -moz-linear-gradient(top, #82d344, #51af34);
	background-image: -o-linear-gradient(top, #82d344, #51af34);
	background-image: linear-gradient(to bottom, #82d344, #51af34);

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}




.flexslider .slides p {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 5px;
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: white;

	background-color: #222222;
	background: rgba(0,0,0, .9);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}



/* кнопки для скачивания модов */

@keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  

  .butttonText {
    font: 18px/1.5 Helvetica, Arial, sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  
  #button3 {
    background:  url('./../img/mods_photos/bkg-1.jpg');
    background-position: 0 0;
    color: white;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    height: 58px;
    width: 155px;
    margin: 50px 0 0 50px;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 58px;
    
    /*Переход*/
    -webkit-transition: All 0.8s ease;
    -moz-transition: All 0.8s ease;
    -o-transition: All 0.8s ease;
    -ms-transition: All 0.8s ease;
    transition: All 0.8s ease;
    
    /*Скругленные углы*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /*Тень*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
  
  #button3:hover {
    background-position: 0px 150px;
    
  }
  
  

  /* кнопка заполнить форму */


  .btn {
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17px 39px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
   }
    
    .btn-secondary{
   
    background: #959cac;
   
    background: -moz-linear-gradient(-45deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);

    background: -webkit-linear-gradient(-45deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
   
    background: linear-gradient(135deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797b7f', endColorstr='#828589',GradientType=1 );

    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    border: medium none;
   }
    
   
    @-webkit-keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    @-moz-keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    @keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    .btn-outline-light:hover{
    color: #3f345f;
   }
    .btn-outline-warning:hover{
    color: #ffffff;
   }
    .btn-sm {
    font-size: 12px;
    padding: 11px 25px;
   }
    .elements-page-btn .btn {
    margin: 6px 3px;
   }

 
 /* Карандаш */
.copyright:after{
    content: '\270E';
    color:red;
    font-size:20px
}


/* некоторые кнопки  */


a.button28 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
a.button28:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.button28:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}



